<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY - Create Project</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <link href="/css/excelUpload.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <%- include('../views/templates/sidebar.ejs') %>

    <div class="main-container">
        <div class="text-container">
            <div class="hero-content">
                <!-- Formulario para crear proyectos -->
                <form id="blankProjectForm" action="/create-blank-project" method="post">
                    <button type="submit" class="cta-button cta-button-primary">
                        Create New Project
                    </button>
                </form>
                
                <!-- Botón para descargar el template de Excel -->
                <div class="download-container" style="margin-top: 30px; text-align: center;">
                    <p class="download-text">Do you already have the Excel template? If not, download it below:</p>
                    <button id="downloadTemplate" class="cta-button cta-button-secondary">
                        Download Excel Template
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript para manejar el clic en el botón de descarga del template
        document.getElementById('downloadTemplate').addEventListener('click', () => {
            const templateUrl = '/path/to/excel/template.xlsx'; 
            window.location.href = templateUrl;
        });
    </script>    
</body>
</html>
