<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASY - Home</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <%- include('../views/templates/sidebar.ejs') %>
</head>
<body>
    <div class="main-container">
        <div class="image-container">
            <img class="login__img" src="/img/p2.png" alt="Login image" />
        </div>
        <div class="text-container">
            <div class="hero-content">
                <h1 class="hero-title">Estimation Assembly System</h1>
                <p>Streamline your quoting with our intuitive platform designed for HLA assembly processes. Create, customize and manage your projects effortlessly with real-time cycle time calculations.</p>
                <a href="/learn-more" class="cta-button">Learn More</a>
            </div>
        </div>
    </div>
</body>
</html>
