/* GOOGLE FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* VARIABLES CSS */
:root {
  /* Colors */
  --first-color: #163e6a;
  --second-color: #537091;
  --text-white: #ffffff;
  --text-black: #000000;

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.2rem;
  --h2-font-size: 1rem;
  --h3-font-size: .95rem;
  --h4-font-size: .85rem;
  --small-font-size: .50rem;
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {

  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input,
button {
  font-family: var(--body-font);
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-grow: 1;
}

/* Área de contenido */
.content {
  flex-grow: 1;
  padding: 20px;
}

.login__img {
  border-radius: 16px;
  margin-top: 20px;
}

.create-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--second-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: var(--h3-font-size);
  font-weight: 400;
  color: var(--text-white);
}

.create-button:hover {
  background-color: #71c571;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 500;
  color: var(--text-black);
}

h2 {
  font-size: var(--h3-font-size);
  font-weight: 600;
  color: var(--text-black);
}

h3 {
  font-size: var(--h4-font-size);
  font-weight: 600;
  color: var(--text-black);
}

h4 {
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-black);
}

/* Botones dinámicos */
.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 20px;
}

.dynamic-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 12px;
  border-radius: 6px;
  background-color: #ffff;
  font-weight: var(--font-medium);
  transition: transform 0.3s, background-color 0.3s;
}

.dynamic-button img {
  border-radius: 6px;
  border: 2px solid #a1a1a1;
  margin-bottom: 10px;
}

.dynamic-button img:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Nuevo contenedor de proyectos */
.projects-rectangle {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

/* Nueva barra de búsqueda */
.wrapper {
    max-width: 100%;
    margin: 20px 0; /* Ajusta el margen */
}

.wrapper .search-bar {
    position: relative;
    background:#fff;
    width: 100%;
    border-radius:15px;
    box-shadow: 0px 45px 80px 8px rgba(0,0,0,0.2);
}

.search-bar input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius:15px;
    padding: 0 60px 0 53px;
    font-size: var(--h3-font-size);
    font-weight: 400;
    color: var(--text-black);
}

input::placeholder {
    letter-spacing: 0.4px;
    font-size: var(--h3-font-size);
    font-weight: 400;
    color:#a1a1a1;
}

.search-bar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color:var(--first-color);
    cursor: pointer;
}

.search-bar .autocom-box {
    border-top:1px solid #efefef;
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    font-size: var(--h3-font-size);
    font-weight: 400;
}

.search-bar.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius:10px;
    display: none;
    color: #959ba1;
}

.search-bar.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.delete-btn {
  margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    color: #abb1b8;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .login__img {
    border-radius: 16px;
    margin-top: 5px;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}
