/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /* Tamaños */
  --header-height: 3rem;
  --nav-width: 68px;

  /* Colores */
  --first-color: #163e6a;
  --first-color-light: #AFA5D9;
  --white-color: #ffffff;
  --light-gray-color: #f7f5ff;
  --text-color: hsl(244, 4%, 36%);
  --title-color: hsl(244, 12%, 12%);

  /* Tipografía */
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Peso de la fuente */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z-index */
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0; /* Eliminado el padding */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--light-gray-color);
  color: var(--text-color);
  transition: padding-left 0.5s; /* Transición para el padding */
}

a {
  text-decoration: none;
  color: inherit;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
}

.header__toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img {
  width: 40px;
  height: auto;
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0; /* Siempre visible */
  width: calc(var(--nav-width) + 156px); /* Ancho fijo */
  height: 100vh;
  background-color: var(--first-color);
  padding: 1rem 1rem 0 0;
  z-index: var(--z-fixed);
  transition: width 0.5s; /* Transición para el cambio de tamaño */
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo,
.nav__link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav__logo {
  margin-bottom: 2rem;
}

.nav__logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.nav__link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
}

.nav__link:hover {
  color: var(--white-color);
}

.nav__icon {
  font-size: 1.25rem;
}

/* Añadir padding al body cuando el navbar esté visible */
.body-pd {
  padding-left: calc(var(--nav-width) + 188px);
}

/* Enlaces activos */
.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 0rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 0rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 0rem);
  }

  .header__img {
    width: 40px;
    height: 40px;
  }

  .header__img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /* Mostrar navbar en escritorio */
  .show {
    width: calc(var(--nav-width) + 156px);
  }

  /* Añadir padding al body en escritorio */
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .l-navbar {
    width: var(--nav-width); /* Reducir el ancho en pantallas pequeñas */
    z-index: var(--z-fixed); /* Asegurar que esté por encima de otros elementos */
  }

  .show {
    width: calc(var(--nav-width) + 156px); /* Ancho completo cuando se muestra */
  }

  .body-pd {
    padding-left: var(--nav-width); /* Ajustar el padding-left en pantallas pequeñas */
  }

  .body-pd.show {
    padding-left: calc(var(--nav-width) + 156px); /* Ajustar el padding-left cuando la barra está visible */
  }
}
